<a routerLink ="/"> < back </a>
<h2>
    Update Team Member
</h2>


            <table style="width: 467px">
                                         
               <tr>
                    <td>
                        <label class="label-font">Employee Code:<span style="color: red"> *</span></label>
                    </td>
                       
                    <td>
                        <input type="text" id="TeamMemberID" placeholder="Employee Code" maxlength="4" required:"true" />
                    </td>
                </tr>                                  
                                  
               <tr>
                    <td>
                        <label class="label-font">Employee Name:<span style="color: red"> *</span></label>
                    </td>

                    <td>
                        <input type="text" id="Name" placeholder="Employee Name" maxlength="20" required:"true" />
                    </td>
                </tr>

                        <tr>
                    <td>
                        <label class="label-font">Email ID:<span style="color: red"> *</span></label>
                    </td>
                    <td>
                        <input type="text" id="EmailID" placeholder="Email ID" maxlength="40" required:"true" />
                    </td>
                </tr>

                        <tr>
                    <td>
                        <label class="label-font">Birth Date:<span style="color: red"> *</span></label>
                    </td>
                    <td>
                        <input type="date" id="datepicker" placeholder="Birth Date" required:"true" />
                    </td>
                </tr>

                        <tr>
                    <td>
                        <label class="label-font">Comments:</label>
                    </td>
                    <td>
                        <input type="text" id="Comments" placeholder="Comments" maxlength="50" required:"false" />
                    </td>
                </tr>           
        </table>