<html>
  <head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
<h1 style="text-align:center">Team Member Details</h1>
<br/><br/>

<button class="button-style" style="width:20%">Add New Employee</button>
<br/><br/>

<table id="employees">
  <tr>
    <th>Employee Code</th>
    <th>Employee Name</th>
    <th>Email ID</th>
    <th>Birth Date</th>
    <th>Account Balance</th>
    <th>Comments</th>
    <th colspan="2">Action</th>
  </tr>

<tr *ngFor='let member of members'>
<td>{{ member.TeamMemberID}}</td>
<td>{{ member.Name}}</td>
<td>{{ member.EmailID}}</td> 
<td>{{ member.BirthDate}}</td>
<td>{{ member.Balance}}</td>
<td>{{ member.Comments}}</td>
<td>
<button class="button-style"><a [routerLink]="['/TeamMemberUpdate' ]">edit</a></button>
</td>
<td>
<button class="button-style">deactivate</button>
</td>
</tr>
</table>

</body>
</html>