<html>
  <head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
<h1 style="text-align:center">Team Member Details</h1>
<br/><br/>

<div style="margin:auto">
<button>Add New Employee</button>
<br/><br/>

<table>

<tr>
<th>Employee Code</th>
<th>Employee Name</th>
<th>Email ID</th>
<th>Birth Date</th>
<th>Account Balance</th>
<th>Comments</th>
<th>Action</th>
</tr>

<tr>
<td><input type="text" /></td>
<td><input type="text" /></td>
<td><input type="text" /></td>
<td><input type="text"/></td>
<td><input type="text"/></td>
<td><input type="text"/></td> 
<td>
<button>update</button>
<button>delete</button>
</td>
</tr>

</table>
</div>
</body>
</html>