<html>
<body>
<div style="width:1440px; margin-left:-15px; margin-top:-10px;background-color:lightblue">
        <img src="../assets/images/Capture.PNG" style="height: 67px; margin-top: auto; width: 100px" />
         <img src="../assets/images/Capture2.PNG" style="margin-left:492px;margin-bottom:10px" />
</div>
<div class="navbar" style="width:1440px; margin-left:-15px">
  <div class="dropdown">
    <button class="dropbtn">Home 
      
    </button>
    
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Pre-EventServices 
    
    </button>
    <div class="dropdown-content"  routerLinkActive="active">
        <a class="nav-link" routerLink="eventproposal">Event Proposal</a>
      <a href="#">Received Contribution</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Post-EventServices  

    </button>
    <div class="dropdown-content">
      <a href="#">Celebration Summary</a>
      <a href="#">Team Member Summary</a>
      <a href="#">Celebration Expenses</a>
    </div>
  </div> 
  <div class="dropdown" style="float:right">
    <button class="dropbtn">Logout  

    </button>
  </div>
  
</div>
<router-outlet></router-outlet>


  </body>
</html>

