<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Home 
      
    </button>
    <div class="dropdown-content">
      <a href="#">Team Details</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Pre-EventServices 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Event Proposal</a>
      <a href="#">Received Contribution</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Post-EventServices  
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Celebration Summary</a>
      <a href="#">Team Member Summary</a>
      <a href="#">Celebration Expenses</a>
    </div>
  </div> 
</div>
