<div id="topDiv" class="center">
            <h1>Received Contribution</h1>

<table>

                <tr>
                    <td>
                        <label>Employee Name:<span style="color: red"> *</span></label>
                    </td>
                    <td>
                        <select id="eName">
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Amount Expected:</label>
                    </td>
                    <td>
                        <input type="text" id="amountExpected" readonly />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Amount Received:<span style="color: red"> *</span></label>
                    </td>
                    <td>
                        <input type="text" id="amountReceived" maxlength="4" placeholder="Enter Digits only" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" id="btnSubmit">Submit</button>
                    </td>
                </tr>
            </table>
</div>